<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}" type="text/css">
    </head>
<body>
<div id="wrapper">
    <header>
        <h1>Blogz</h1>
    </header>
</div>
<nav>
    <ul class="main_menu">
        <li><a href="/"><span>Home</span></a></li>
        <li><a href="/blog"><span>All post</span></a></li>
        {% if "username" in session %}
        <li><a href="/logout"><span>Logout</span></a></li>
        {% endif %}
        {% if "username" not in session %}
        <li><a href="/newpost"><span>New Entry</span></a></li>
        <li><a href="/signup"><span>Create Account</span></a></li>
        <li><a href="/login"><span>Login</span></a></li>
        {% endif %}
    </ul>
</nav>

    {% block title %}
    {% endblock %}
    

    {% block content %}
    {% endblock %}

    {% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
    {% for category,message in messages %}
        <li id="error" class="{{category}}">{{message}}</li>
    {% endfor %}
    </ul>
{% endwith %}

</body>
</html>